/* line 1, ../sass/main.scss */
body {
  background-image: url("https://github.com/rterry5/cats/blob/master/background.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 7, ../sass/main.scss */
h1 {
  color: purple;
  font-size: 75px;
  font-family: 'Oswald', sans-serif;
}

/* line 13, ../sass/main.scss */
button {
  background-color: purple;
  border: none;
  color: white;
  font-size: 1em;
  padding: 1em 3em;
  margin-top: 1em;
  border: none;
  border-radius: 4px;
  box-shadow: 0 5px #999;
  cursor: pointer;
}
/* line 24, ../sass/main.scss */
button:hover, button:active {
  background-color: #ac02ac;
  transition: .1s;
}
/* line 27, ../sass/main.scss */
button:hover:active, button:active:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

/* line 34, ../sass/main.scss */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* line 41, ../sass/main.scss */
#cats {
  max-height: 500px;
}

@media screen and (max-width: 600px) {
  /* line 46, ../sass/main.scss */
  #cats {
    height: 300px;
  }
}
